*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 253, 245);
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
}

.content {
    display: flex;
    background-color: rgb(255, 253, 245);
    height: 100vh;
    width: 70%;
    max-width: 850px;
    justify-content: center;
    align-items: center;
}

.quiz {
    background-color: white;
    height: 75%;
    width: 100%;
    padding: 5%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border-radius: 1rem
}